

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

html{
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  background-color: rgb(26, 26, 26);
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  height: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 25px
}

.active {
  background-color: #4b4b4b;
}
.activeButton {
  background-color: #0044ff;
  color:  white;
  border-radius: 30px;
  border-bottom: 9px solid  #386bf7;
  padding: 10px;
  
}


.activeButton:hover {
  background-color: rgb(0, 53, 198);
}

.activeButton:disabled:hover {
  cursor: not-allowed;
}

.activeButton:disabled {
  background-color: rgb(84, 83, 83);  
  border-bottom: 9px solid  #939394;
  color:  #fcfcfa;
}


.activeButton:active {
  transform: translateY(9px);
  border-bottom: 0;
  margin-bottom: 9px;
  
}


.wmax-60px{
  max-width: 60px;
}

.mg-wauto {
  margin: 0 auto;
}
.blueBg {
  background-color: #0044ff;
}

.darkBg {
  background-color: black
}

.fadeIn {
  opacity: 1;
  transition: all 1s ease-in;
}

.fnt10Rem {
  font-size: 10rem;
}

.fnt5Rem {
  font-size: 5rem;
}

.fnt3Rem {
  font-size: 3rem;
}

.fnt2Rem {
  font-size: 2rem;
}

.fnt1-5Rem {
  font-size: 1.5rem;
}

.signIn {
  font-size: 1rem;
  position: fixed;
  top: 1%;
  right: 1%;
}
/* 
.star {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50;
  opacity: 1;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
} */

/* .star:active{
  opacity: 0.25;
  top:0;
  transform: rotate(90deg);
  width: 25px;
  height: 25px;
} */


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/*The following is for Settings*/
.black{
  color:black;
}

.blue{
  color: blue;
}

.red{
  color:red;
}

.green{
  color:green;
}

.white {
  color: white;
}

.error {
  color: red;
}

 .success {
  color: green;
 }


/* Creates the rainbow*/
@keyframes rainbow {                  
  0% { background-color: red; }
  14% { background-color: orange; }
  28% { background-color: yellow; }
  42% { background-color: green; }
  57% { background-color: blue; }
  71% { background-color: indigo; }
  85% { background-color: violet; }
  100% { background-color: red; }
}

/*implements the rainbow keyframes to the class rainbow*/
.rainbow {
  animation: rainbow 2s linear infinite;
}

@keyframes laser {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

.laser {
  animation: laser 1s linear infinite;
}

/*Cursor Style*/

.noCursor {
  cursor: none;
}

.default{
  cursor: default; /* Change back*/
}

.crosshair{
  cursor: crosshair;
}

.pointer{
  cursor: pointer;
}

.rocket{
  cursor: url('../../public/pics/cursors/rocket.png'), auto;
}

/* Cursor Color */
.cursor-blue{
  cursor: url('../../public/pics/cursors/blue-cursor.png'), auto;
}


.cursor-green{
  cursor: url('../../public/pics/cursors/green-cursor.png'), auto;
}

.cursor-red{
  cursor: url('../../public/pics/cursors/red-cursor.png'), auto;
}

/* Cursor Styles */
.custom {
  position: fixed;
  height: 16px;
  width: 16px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 20;
}

.ball {
  border-radius: 50%;
}

.littleStar {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.arrow {
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.x {
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transform: rotate(720deg);
}


/* Audio */

.audioButton {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 10%;
  right: 1%;
}
.audioIcon {
  position: absolute;
  left: 8px;
}