

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

html{
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  background-color: rgb(26, 26, 26);
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  height: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.activeButton {
  background-color: rgb(0, 68, 255);
  color:  white;
  border-radius: 30px;
  border-bottom: 9px solid  rgb(56, 107, 247);
  padding: 10px;
  
}
.activeButton:hover {
  background-color: rgb(0, 53, 198);
}

.activeButton:active {
  transform: translateY(9px);
  border-bottom: 0;
  margin-bottom: 9px;
  
}

.blueBg {
  background-color: rgb(2, 93, 222);
}

.darkBg {
  background-color: black
}

.fadeIn {
  opacity: 1;
  transition: all 1s ease-in;
}

.fnt10Rem {
  font-size: 10rem;
}

.fnt5Rem {
  font-size: 5rem;
}

.fnt3Rem {
  font-size: 3rem;
}

.signIn {
  font-size: 1rem;
  position: fixed;
  top: 10px;
  right: 10px;
}
/* 
.star {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50;
  opacity: 1;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
} */

/* .star:active{
  opacity: 0.25;
  top:0;
  transform: rotate(90deg);
  width: 25px;
  height: 25px;
} */


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/*The following is for Settings*/
.black{
  color:black;
}

.red{
  color:red;
}

.green{
  color:green;
}


/* Creates the rainbow*/
@keyframes rainbow {                  
  0% { background: red; }
  14% { background: orange; }
  28% { background: yellow; }
  42% { background: green; }
  57% { background: blue; }
  71% { background: indigo; }
  85% { background: violet; }
  100% { background: red; }
}

/*implements the rainbow keyframes to the class rainbow*/
.rainbow {
  animation: rainbow 10s linear infinite;
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  font-weight: bold;
}

@keyframes laser {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

.laser {
  animation: laser 1s linear infinite;
}


/*Cursor Style*/
.default{
  cursor: default;
}

.crosshair{
  cursor: crosshair;
}

.pointer{
  cursor: pointer;
}

.rocket{
  cursor: url('../../public/pics/rocket.png'), auto;
}