.scoreTable{
    position: relative;
    width: 90%;
    max-height: 60vh;
    overflow-y: auto;
    margin: 0 auto;
    min-height: 0;
    padding: 30px;
    border-radius: 15px;
    list-style-type: none;
    font-size: 1.5rem;
    background-color: #333333;
    box-shadow: 4px 4px 10px #878686;

}

.score{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    
}

.score:first-child{
    color: #0044ff;
}
.score > p {
    width: 25%;
    text-align: center;
}